<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>State Historic Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>State by State Real Estate Market</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <h4 class="heading">Select a State from the Drop Down List:</h4>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
  <div class="col-md-12"></div>
  <br>
  <br>
  <hr>

  

  <div id = "LinePlot"></div>
  <br>
  <div id="barchart"></div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/stateMeds4.js"></script>
</body>

</html>